In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Kaggle Learn Pandas Course

In [2]:
trends = pd.read_csv("shopping_trends.csv", index_col=0)
pd.set_option("display.max_rows", 5)

In [3]:
trends.shape

(3900, 17)

In [4]:
trends.head(3)

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly

In [5]:
trends.tail(3)

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [6]:
trends.loc[(trends.Gender == 'Female') & (trends['Purchase Amount (USD)'] == 100)]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
2803,22,Female,Coat,Outerwear,100,Hawaii,L,Red,Fall,3.1,No,Store Pickup,No,No,42,Credit Card,Fortnightly
2808,56,Female,Hoodie,Clothing,100,Maryland,M,Charcoal,Spring,4.4,No,2-Day Shipping,No,No,10,Debit Card,Fortnightly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3726,18,Female,Dress,Clothing,100,Oklahoma,S,Turquoise,Winter,4.4,No,Next Day Air,No,No,2,PayPal,Annually
3838,45,Female,Hoodie,Clothing,100,New Mexico,M,Green,Spring,4.8,No,Free Shipping,No,No,33,Bank Transfer,Fortnightly

In [7]:
trends["Gender"][2653]

'Female'

In [8]:
trends.loc[2653, "Gender"]

'Female'

In [9]:
trends.loc[265:2654]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
265,36,Male,Pants,Clothing,78,Colorado,S,Charcoal,Fall,3.9,Yes,Store Pickup,Yes,Yes,15,Cash,Annually
266,32,Male,Backpack,Accessories,59,Michigan,M,Gray,Spring,3.2,Yes,2-Day Shipping,Yes,Yes,17,Bank Transfer,Bi-Weekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,23,Female,Shorts,Clothing,20,Maryland,L,Cyan,Summer,3.3,No,2-Day Shipping,No,No,46,Credit Card,Monthly
2654,67,Female,Blouse,Clothing,36,Wisconsin,L,Lavender,Fall,4.8,No,Express,No,No,24,Venmo,Every 3 Months

In [10]:
trends.iloc[:10,1]

Customer ID
1     Male
2     Male
      ...
9     Male
10    Male
Name: Gender, Length: 10, dtype: object

In [11]:
trends.iloc[-10:,1]

Customer ID
3891    Female
3892    Female
         ...
3899    Female
3900    Female
Name: Gender, Length: 10, dtype: object

In [12]:
trends.loc[trends["Review Rating"] >= 4.8, ["Gender", "Purchase Amount (USD)"]]

             Gender  Purchase Amount (USD)
Customer ID
10             Male                     31
12             Male                     68
...             ...                    ...
3865         Female                     99
3885         Female                     29

[378 rows x 2 columns]

In [13]:
trends.loc[trends['Review Rating'].isin([2.5])]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
Customer ID,,,,,,,,,,,,,,,,,
134,52,Male,Sweater,Clothing,65,Montana,M,Violet,Winter,2.5,Yes,Next Day Air,Yes,Yes,25,Venmo,Annually
252,21,Male,Handbag,Accessories,51,Wyoming,XL,Gold,Winter,2.5,Yes,Standard,Yes,Yes,34,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3837,62,Female,Skirt,Clothing,84,Alaska,M,Violet,Spring,2.5,No,Free Shipping,No,No,38,PayPal,Fortnightly
3857,39,Female,Sandals,Footwear,78,Virginia,S,Brown,Summer,2.5,No,Free Shipping,No,No,8,Debit Card,Quarterly

In [14]:
trends['Reverse Index'] = range(len(trends), 0, -1)

In [15]:
trends["Total Spent"] = trends["Purchase Amount (USD)"] * trends["Previous Purchases"]

In [16]:
trends.head(3)

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Reverse Index,Total Spent
Customer ID,,,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,3900,742
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,3899,128
3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,3898,1679

In [17]:
trends.Age.describe()

count    3900.000000
mean       44.068462
            ...
75%        57.000000
max        70.000000
Name: Age, Length: 8, dtype: float64

In [18]:
print(trends["Purchase Amount (USD)"].mean())

59.76435897435898

In [19]:
trends.Location.unique()

array(['Kentucky', 'Maine', 'Massachusetts', 'Rhode Island', 'Oregon',
       'Wyoming', 'Montana', 'Louisiana', 'West Virginia', 'Missouri',
       'Arkansas', 'Hawaii', 'Delaware', 'New Hampshire', 'New York',
       'Alabama', 'Mississippi', 'North Carolina', 'California',
       'Oklahoma', 'Florida', 'Texas', 'Nevada', 'Kansas', 'Colorado',
       'North Dakota', 'Illinois', 'Indiana', 'Arizona', 'Alaska',
       'Tennessee', 'Ohio', 'New Jersey', 'Maryland', 'Vermont',
       'New Mexico', 'South Carolina', 'Idaho', 'Pennsylvania',
       'Connecticut', 'Utah', 'Virginia', 'Georgia', 'Nebraska', 'Iowa',
       'South Dakota', 'Minnesota', 'Washington', 'Wisconsin', 'Michigan'],
      dtype=object)

In [20]:
trends.Location.value_counts() #.sort_index() to sort alphabetically

Location
Montana         96
California      95
                ..
Rhode Island    63
Kansas          63
Name: count, Length: 50, dtype: int64

In [21]:
trends.groupby("Location").Location.count()

Location
Alabama      89
Alaska       72
             ..
Wisconsin    75
Wyoming      71
Name: Location, Length: 50, dtype: int64

In [22]:
trends.groupby("Review Rating")["Purchase Amount (USD)"].min() # Finds the minimum purchase amount for each review rating group

Review Rating
2.5    22
2.6    20
       ..
4.9    20
5.0    20
Name: Purchase Amount (USD), Length: 26, dtype: int64

In [23]:
trends.groupby("Item Purchased").apply(lambda df: df.Location.iloc[0], include_groups=False)
# Here's one way of selecting the name of the first item purchased from each location in the dataset

Item Purchased
Backpack     Mississippi
Belt           Louisiana
                ...
Sweater            Maine
T-shirt     North Dakota
Length: 25, dtype: object

In [24]:
""" 
    The code centers your data around zero by subtracting the mean from each value. This is also called "mean normalization" or "centering.
    Alternatively: trends["Review Rating"] - trends["Review Rating"].mean()
"""

trends["Review Rating"].map(lambda p: p - trends["Review Rating"].mean())

Customer ID
1      -0.649949
2      -0.649949
          ...
3899    0.050051
3900   -0.649949
Name: Review Rating, Length: 3900, dtype: float64

In [25]:
"""
    For each combination of 'Previous Purchases' and 'Frequency of Purchases', select the customer with the highest total spending and sort all groups by 'Total Spent' in descending order.
"""

highest_spending = trends.groupby(["Previous Purchases", "Frequency of Purchases"]).apply(lambda df: df.loc[df["Total Spent"].idxmax()],include_groups=False).sort_values("Total Spent", ascending=False)
highest_spending

                                           Age  Gender Item Purchased  \
Previous Purchases Frequency of Purchases
50                 Fortnightly              54    Male         Blouse
                   Weekly                   46    Male         Jacket
...                                        ...     ...            ...
1                  Quarterly                60    Male          Socks
                   Monthly                  47  Female           Coat

                                            Category  Purchase Amount (USD)  \
Previous Purchases Frequency of Purchases
50                 Fortnightly              Clothing                    100
                   Weekly                  Outerwear                     99
...                                              ...                    ...
1                  Quarterly                Clothing                     83
                   Monthly                 Outerwear                     80

                                             Location Size     Color  Season  \
Previous Purchases Frequency of Purchases
50                 Fortnightly                   Utah   XL      Gold    Fall
                   Weekly                   Louisiana    M      Gray  Winter
...                                               ...  ...       ...     ...
1                  Quarterly               California    M    Orange  Summer
                   Monthly                 California    S  Charcoal  Summer

                                           Review Rating Subscription Status  \
Previous Purchases Frequency of Purchases
50                 Fortnightly                       3.6                 Yes
                   Weekly                            4.6                 Yes
...                                                  ...                 ...
1                  Quarterly                         4.7                  No
                   Monthly                           4.7                  No

                                          Shipping Type Discount Applied  \
Previous Purchases Frequency of Purchases
50                 Fortnightly             Store Pickup              Yes
                   Weekly                       Express              Yes
...                                                 ...              ...
1                  Quarterly                   Standard               No
                   Monthly                 Store Pickup               No

                                          Promo Code Used Payment Method  \
Previous Purchases Frequency of Purchases
50                 Fortnightly                        Yes     Debit Card
                   Weekly                             Yes     Debit Card
...                                                   ...            ...
1                  Quarterly                           No  Bank Transfer
                   Monthly                             No          Venmo

                                           Reverse Index  Total Spent
Previous Purchases Frequency of Purchases
50                 Fortnightly                      3445         5000
                   Weekly                           2908         4950
...                                                  ...          ...
1                  Quarterly                        1603           83
                   Monthly                           840           80

[349 rows x 17 columns]

In [26]:
type(highest_spending.index)

pandas.core.indexes.multi.MultiIndex

In [27]:
highest_spenders = highest_spending.reset_index()
highest_spenders.sort_values(by='Total Spent', ascending=False) # highest_spenders.sort_index()

,Previous Purchases,Frequency of Purchases,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Payment Method,Reverse Index,Total Spent
0,50,Fortnightly,54,Male,Blouse,Clothing,100,Utah,XL,Gold,Fall,3.6,Yes,Store Pickup,Yes,Yes,Debit Card,3445,5000
1,50,Weekly,46,Male,Jacket,Outerwear,99,Louisiana,M,Gray,Winter,4.6,Yes,Express,Yes,Yes,Debit Card,2908,4950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,1,Quarterly,60,Male,Socks,Clothing,83,California,M,Orange,Summer,4.7,No,Standard,No,No,Bank Transfer,1603,83
348,1,Monthly,47,Female,Coat,Outerwear,80,California,S,Charcoal,Summer,4.7,No,Store Pickup,No,No,Venmo,840,80

In [28]:
highest_spenders.sort_values(by=['Gender', "Review Rating"], ascending=False)

,Previous Purchases,Frequency of Purchases,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Payment Method,Reverse Index,Total Spent
67,40,Annually,54,Male,Sunglasses,Accessories,95,Maryland,M,Red,Winter,5.0,No,Express,No,No,Debit Card,1606,3800
77,43,Monthly,56,Male,Shorts,Clothing,86,Indiana,XL,Orange,Spring,5.0,No,Next Day Air,Yes,Yes,Credit Card,2649,3698
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,16,Bi-Weekly,34,Female,Gloves,Accessories,90,Delaware,XL,Black,Winter,2.5,No,Express,No,No,PayPal,487,1440
332,3,Weekly,45,Female,Gloves,Accessories,92,Arkansas,M,Charcoal,Spring,2.5,No,Express,No,No,Cash,105,276

In [29]:
trends.groupby(["Location"])["Purchase Amount (USD)"].agg([len, "min", "max"])

           len  min  max
Location
Alabama     89   20  100
Alaska      72   20   99
...        ...  ...  ...
Wisconsin   75   20  100
Wyoming     71   20   99

[50 rows x 3 columns]

In [30]:
trends.dtypes

Age               int64
Gender           object
                  ...
Reverse Index     int64
Total Spent       int64
Length: 19, dtype: object

In [31]:
trends['Age'] = trends['Age'].astype('int64')

In [32]:
trends.loc[1, "Age"] = np.nan
trends.Age.fillna("Unknown") # 55 Y/O

Customer ID
1       Unknown
2          19.0
         ...
3899       44.0
3900       52.0
Name: Age, Length: 3900, dtype: object

In [33]:
trends[pd.isnull(trends.Age)] # Reverse: trends[pd.notnull(trends.Age)]

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Reverse Index,Total Spent
Customer ID,,,,,,,,,,,,,,,,,,,
1,NaN,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,3900,742

In [34]:
trends['Age'] = trends['Age'].fillna(55)
trends[pd.isnull(trends.Age)]

Empty DataFrame
Columns: [Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases, Reverse Index, Total Spent]
Index: []

In [35]:
trends['Age'] = trends['Age'].astype('int64')

In [36]:
trends.rename(columns={'Item Purchased': 'Item'})

,Age,Gender,Item,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Reverse Index,Total Spent
Customer ID,,,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,3900,742
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,3899,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,2,1848
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,1,2673

In [37]:
trends.rename(index={1: "CustomerOne", 2: "CustomerTwo"})

,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Reverse Index,Total Spent
Customer ID,,,,,,,,,,,,,,,,,,,
CustomerOne,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,3900,742
CustomerTwo,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,3899,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,2,1848
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,1,2673

In [38]:
trends.rename_axis("ID", axis='rows').rename_axis("X", axis='columns')

X,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases,Reverse Index,Total Spent
ID,,,,,,,,,,,,,,,,,,,
1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,3900,742
2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,3899,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly,2,1848
3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly,1,2673

## Data Analysis Project

In [39]:
print("Hello World")

Hello World